.toolbar {
  background-color: #FFFFFF;
  border-bottom: 3px solid #42586C;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 217, 210);
}

.toolbar-text {
  color: #1c355b;
  font-family: 'Merienda-Bold', sans-serif;
  font-weight: 700;
}
