<mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-text">
      <span class="heading">Password Vault</span>
      <span class="spacer"></span>
      <img class="icon-size" src="assets/images/close.svg">
      <span class="heading">Log out</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="mask">
      <mat-toolbar class="toolbar-inner-container">
          <mat-toolbar-row class="toolbar-text">
            <img class="icon-size" src="assets/images/add.svg">
            <img class="icon-size" src="assets/images/remove.svg">
          </mat-toolbar-row>
      </mat-toolbar>

  </div>
</div>